<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
    <link rel="stylesheet" href="css/style.css">
    <style type="text/css">
      .active{
        color: #42b983;
      }
    </style>
</head>
<body>
        
   <div id="app">   
      <ul>
        <li v-for="item in items">   <!-- 也可以用of代替in,像这样item of items -->
          {{ item.message }}
        </li>
      </ul>
      <br/>
      <hr/>
      <ul>
        <!-- 给第num个元素加上class -->
        <li v-for="(item,index) in items" :class="{active: index == num ? true : false}">{{item.message}}</li>
      </ul>
      <hr/>
      <ul>
        <!-- 给第num个元素加上class -->
        <li v-for="(item,index) in items" :class="{active: index == num}">{{item.message}}</li>
      </ul>
      
  </div>  
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
var vm = new Vue( {  
        el: '#app',  
        data: {
          num:2,
          items:[
            {message:'香蕉'},
            {message:'橘子'},
            {message:'苹果'}
          ]

        }
       
    } );  
</script>
</html>