<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
      .del{
        color:red;
        cursor:pointer;
      }
    </style>
</head>
<body>
   <div id="app">
    <input type="text" @keydown="add($event)" v-model="val">
    <h2>未选中</h2>
        <ul>
          <li v-for="(item,key) in arr" v-if="!item.state">
            <input type="checkbox" v-model="item.state" @change="change_save">
            {{item.text}}
            <span class="del" @click="del(key)">删除</span>
          </li>
        </ul>
    <h2>已选中</h2>
        <ul>
          <li v-for="(item,key) in arr" v-if="item.state">
            <input type="checkbox" v-model="item.state" @change="change_save">
            {{item.text}}
            <span class="del" @click="del(key)">删除</span>
          </li>
        </ul>
  </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    var app = new Vue({
        el:'#app',
        data:{
            val:"",
            arr:[]
        },
        methods:{
          add(e){
            if(e.keyCode==13){
              this.arr.push({text:this.val,state:false});
            }
          },del(key){
            this.arr.splice(key,1);
          },
          change_save(){
            console.log(this.arr)
            localStorage.setItem("key","");
            localStorage.setItem("key",JSON.stringify(this.arr));
          }
        },
        mounted(){//页面加载前执行
            var list = JSON.parse(localStorage.getItem("key"));
            console.log(list)
            if(list){
              this.arr = list;
            }
            
          }
    })
</script>
</html>