<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
   <div class="container" id="box">
        <form role=form>
          <div class="form-group">
            <label for=username>用户名:</label>
            <input type="text" id="username" class="form-control" placeholder="输入用户名" v-model="username">
          </div>
          <div class="form-group">
            <label for=age>年龄:</label>
            <input type="text" id="age" class="form-control" placeholder="输入年龄" v-model="age">
          </div>
          <div class="form-group">
            <input type="button" value="添加" class="btn btn-primary" v-on:click="add()">
            <input type="reset" value="重置" class="btn btn-danger">
          </div>
        </form>
        <hr/>
        <table class="table tanle-bordered table-hover">
          <caption class="h3 text-info">用户信息表</caption>
          <tr class="text-danger">
            <th class="text-center">序号</th>
            <th class="text-center">名字</th>
            <th class="text-center">年龄</th>
            <th class="text-center">操作</th>
          </tr>
          <tr class="text-center" v-for="(item,index) in myData">
            <td>{{index}}</td>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>
              <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#layer" v-on:click="nowIndex=index">删除</button>
            </td>
          </tr>
          <tr>
            <td v-show="myData.length !== 0" colspan="4" class="text-right">
              <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#layer" v-on:click="all=1">删除全部</button>
            </td>
          </tr>
          <tr v-show="myData.length == 0">
            <td colspan="4" class="text-center text-muted">
              <p class="btn bnt-danger btn-sm">暂无数据...</p>
            </td>
          </tr>
        </table>
        <!-- 模态框 -->
        <div role="dialog" class="modal fade" id="layer">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    <span>关闭</span>
                  </button>
                  <h4 class="modal-title" v-if="all==0">确认删除吗？</h4>
                  <h4 class="modal-title" v-else>确认删除全部吗？</h4>
                </div>
                <div class="modal-body text-right">
                    <button class="btn btn-primary btn-sm" data-dismiss="modal">取消</button>
                    <button class="btn btn-danger btn-sm" data-dismiss="modal" v-on:click="remove()" v-if="all==0">确认</button>
                    <button class="btn btn-danger btn-sm" data-dismiss="modal" v-on:click="all_remove()" v-else>确认</button>
                </div>
              </div>
            </div>
        </div>
   </div>


</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript">
            var vm = new Vue({
                el: '#box',
                data: {
                  myData:[
                  ],
                  username:'',
                  age:'',
                  nowIndex:'',
                  all:0
                },
                methods:{
                  add:function(){
                    if(this.username == '' || this.age == ''){
                      alert("请输入完整")
                      return;
                    }
                    this.myData.push({name:this.username,age:this.age});
                    this.username='';
                    this.age='';
                  },
                  remove:function(){
                    this.myData.splice(this.nowIndex,1);
                  },
                  all_remove:function(){
                    this.myData = [];
                  }
                }
                
            })
        </script>
</html>.